*body{
    padding: 0;
    margin: 0;
    
}

.my-5{
    background-color:#add8e6;
    background-size:cover; 
    border: 20px solid blue;   
    padding: 50px;
    margin: 75px;
    color: white;
}


