*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.carousel-inner img{
    width: 100%;
    height: 90vh;
}
.carousel-inner h2 {

    color: blue;
    font-size: 40px;
    font-weight: 700%;
    letter-spacing: 0.5px;
    
}

.carousel-inner p {

    color: black;
    font-size: 25px;
    font-weight: 700%;
    letter-spacing: 0.5px;
    
}




